<%- include('partials/head')%>
  <%- include('partials/navbar')%>
    <div class="main_div homeDashDiv  p-1">
      <h1>Home</h1>
      <h3>
        <%= mot.text %><br>
      </h3>
      <h4>
        -<%= mot.author %>
      </h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo in fugiat officiis. Natus officiis laborum
        ratione
        doloremque, aliquid dolorem, hic placeat eius eaque ullam maiores dignissimos obcaecati fugit! Voluptatem, quia!
        Saepe aut atque possimus vero totam, quaerat quam consectetur sint iste perspiciatis iusto amet dolores
        laudantium
        tenetur nulla? Suscipit odio fugiat saepe, maiores quisquam ullam quidem aliquam aspernatur a natus.
        Distinctio illo accusantium commodi molestiae mollitia ea consequuntur obcaecati! Assumenda et ad, accusamus
        sapiente expedita culpa iusto minus. Quisquam, ullam mollitia numquam eaque sequi sed ab repellat iusto
        necessitatibus? Harum?
        Nam fugiat commodi facere esse, quisquam odio atque nisi vel reprehenderit repellendus ratione optio excepturi
        beatae recusandae! Similique a cupiditate ipsa unde facilis ut, itaque maxime praesentium eligendi libero animi.
        eum possimus! <br>
        Facilis possimus ducimus officiis aliquam hic molestiae soluta ex quae libero obcaecati unde nostrum fuga sequi
        vero dolorem ab repudiandae officia recusandae dolore cum dolorum earum, placeat laboriosam debitis. Ab!
        Sunt aliquid aut, id corporis deserunt magni officia minus adipisci perferendis. Necessitatibus facere nesciunt
        rerum tempore minima delectus quo pariatur debitis dignissimos quidem, architecto voluptate voluptates culpa
        quisquam! Minima, vel?
        Inventore unde tempora sunt totam delectus id, quo odio est harum reiciendis minus eos, illum iure eveniet quod
        culpa recusandae doloremque laboriosam sequi officia facilis nemo? Delectus quasi possimus temporibus.
        Est, quisquam modi? Neque, delectus iure dicta nisi mollitia praesentium magni repellendus molestiae facilis in
        qui et necessitatibus possimus quis natus voluptates maxime fuga? Vitae eligendi assumenda obcaecati deserunt
        dicta.
      </p>

    </div>
    <%- include('partials/footer')%>